<!doctype html>
<html>
  <head>
    <title>Encryption!</title>
    <script src="/static/base.js"></script>
    <link href="/static/base.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div>
      <h1>This website is intended to encrypt messages.</h1>
      <h2>Below are some ciphers you can check out.</h2>
      <a href="/caesar">Caesar cipher</a>
      <br><a href="/railfence">Rail Fence cipher</a>
      <br><a href="/CaesarRail">Caesar-Rail Fence cipher</a>
      <br><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Do you really want to click this?</a>
    </div>
  </body>
</html>